amqp==2.2.1
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.4
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-environ==0.4.4
gunicorn==19.7.1
idna==2.6
kombu==4.1.0
psycopg2==2.7.3.1
pytz==2017.2
redis==2.10.6
requests==2.18.4
six==1.10.0
urllib3==1.22
vine==1.1.4
whitenoise==3.3.0
