html, body {
    height: 100%;
    background-color: #2F425A;
}
.viewport {
    height: 100%;
}
.nav {
  padding-top: 10px;
  margin-left: 5px;
}
.header {
  padding-top: 25px;
  padding-left: 30px;
}
.header h4 {
  font-weight: 300;
  color: #D1D1D1;
  font-family: 'Roboto', sans-serif;
}
.content {
  text-align: left;
  position: relative;
}
.content h1 {
  margin-left: 0px;
  font-size: 10em;
  font-family: 'Oswald', sans-serif;
  color: #F9DC5C;
}
.rates p {
  font-weight: 300;
  color: #D1D1D1;
  display: inline;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.rates {
  position: relative;
  min-height: 100%;
}
.spread {
}
.footer {
  background-color: #D1D1D1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 25px;
  font-size: 14px;
}
.footer p {
  color: #2F425A;
}
.footer a {
  font-family: 'Roboto', sans-serif;
  color: #2F425A;
  margin: 0 15px;
}
.footer img {
  margin: 0 5px;
}
.footer .content{
  display: table;
  margin: 0 auto;
}
/* Graph stuff */
.graph {
  position: relative;
}
.graph svg {
  margin: 0 auto;
}
.graph #title{
  margin: 0 auto;
  color: #D1D1D1;

}
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: white;
    stroke-width: 3;
}
.axis path {
  display: none;
}

.axis text {
  fill: #D1D1D1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.axis line {
  stroke: #D1D1D1;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: white;
    stroke: #fff;
}
.tooltip {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: grey;
  padding: 1px 2px;
}
