html, body {
    height: 100%;
    background-color: #4A9595;
}
.viewport {
    height: 100%;
}
.nav {
  padding-top: 10px;
  margin-left: 5px;
}
.content {
  text-align: left;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
.content h1 {
  margin-left: 0px;
  font-size: 14em;
  font-family: 'Oswald', sans-serif;
  color: #D1D1D1;
}
.content h4 {
  font-weight: 300;
  color: #D1D1D1;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
}
.rates p {
  font-weight: 300;
  color: #D1D1D1;
  display: inline;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.rates {
}
.spread {
}
