/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    padding: 0 0;
    margin: 0 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #606c88;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}
body {
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header {
  margin-top: 25px;
}
.header span {
  display: inline-block;
}
#github-link {
  float: right;
  margin-top: 5px;
  display: inline;
}
.header-content img {
  vertical-align: top;
  margin-right: 10px;
}
.header a {
  color: #FBFDF3;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Didact Gothic', sans-serif;
  vertical-align: middle;
}
.header a img {
  margin-right: 10px;
}
.header h4 {
 letter-spacing: 1px;
 margin-top: 0;
 margin-bottom: 0px;
 font-size: 1.75rem;
 font-weight: 400;
 color: #FBFDF3;
 font-family: 'Didact Gothic', sans-serif;
 display: inline;
}
.header hr {
  margin-bottom: 25px;
}
.content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: relative;
  border-radius: 2px;
  font-size: 0;
}
.info {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-align: center;
  display: inline-block;
  width: 25%;
  color: #404040;
  margin: 30px auto;
}
.info-btc-usd {
  float: right;
  margin-left: 0;
}
.info-vertical-line {
  border-left: 1px solid #606c88;
}
.info-symbol {
  font-size: 1.25rem;
  vertical-align: top;
  display: inline;
  padding-right: 5px;
}
.info-description {
  letter-spacing: 2px;
  display: block;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.10rem;
  font-weight: 200;
  margin-bottom: 10px;
}
.info-number {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

.footer {
 background-color: #FBFDF3;
 width: 100%;
 font-size: 14px;
 position: absolute;
 bottom: 0;
}
.footer p {
 color: #2F425A;
}
.footer text {
 font-family: 'Roboto', sans-serif;
 color: #404040;
 margin: 0 15px;
}
.footer img {
 margin: 0 5px;
}
.footer span{
 display: table;
 margin: 10px auto;
}
/* Graph stuff */
#graph {
}
.graph svg {
  border-top: solid;
  border-top-width: 1px;
  border-color: #606c88;
}
.graph p {
 color: #D1D1D1;
 text-align: center;

}
/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
   stroke: #FFB88C;
   stroke-width: 3;
}
.axis path {
 display: none;
}

.axis text {
 fill: #404040;
 font-family: 'Roboto', sans-serif;
 font-size: 0.75rem;
}

.axis line {
 stroke: #404040;
}

/* Style the dots by assigning a fill and stroke */
.dot {
   fill: #404040;
}
.tooltip {
 color: #2F425A;
 font-family: 'Roboto', sans-serif;
 background-color: #F9DC5C;
 padding: 1px 3px;
 border-radius: 3px;
 position: absolute;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.svg-content-responsive {
    display: inline-block;
    position: relative;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 576px) {
    .content {
      margin: 0 10px;
    }
    .header-content {
      margin: 0 10px;
    }
   .info {
     margin-top: 15px;
     margin-bottom: 15px;
     overflow: auto;
     width: 50%;
   }
   .info-number {
     font-size: 1.25rem;
   }
   .info-description {
     font-size: 0.75rem;
   }
   .info-symbol{
     font-size: 0.75rem;
   }
   .footer {
     text-align: center;
     line-height: 2rem;
   }
   .info-responsive {
     border-left: none;
   }
   #github-link a {
     display: none
   }
}
@media only screen and (min-width: 576px) and (max-width: 768px)  {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .header-content {
      margin: 0 20px;
    }
    .content {
      margin: 0 20px;
    }
    .info {
    }
    .info-number {
      font-size: 1.5rem;
    }
    .info-description {
      font-size: 1rem;
    }
    .info-symbol{
      font-size: 0.75rem;
    }
  }
 }
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header-content {
    margin: 0 20px;
  }
  .content {
    margin: 0 0px;
  }
  .info-number {
    font-size: 1rem;
  }
  .info-description {
    font-size: 0.75rem;
  }
  .info-symbol{
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    margin: 0 0px;
  }
  .page-container {
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
